<!DOCTYPE html>
<html lang="en">

<head>
  <title>NYT Sports Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/nyt.png" width="30" height="30" class="d-inline-block align-top" alt="">
      New Your Times Sports
    </a>

    <button class="btn btn-primary mr-2 savedBtn" data-type="saved">Saved Articles</button>
    <button class="btn btn-danger mr-2 scrapeBtn" data-type="scrape">SCRAPE NEW ARTICLES!</button>
    <button class="btn btn-danger mr-2 clearBtn" data-type="clear">CLEAR ARTICLES!</button>
  </nav>

  <div class="jumbotron text-center">
    <div class="background-image">
    </div>
  </div>

  <div class="container-fluid article-container">

    {{{body}}}

  </div>

  <footer class="footer" style="background-color: #e3f2fd;">
    <div class="container">
      <p>New York Times Sports</p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="/assets/javascript/app.js"></script>

</body>

</html>