
    <div class="alert alert-danger text-center">
      <h2>You don't have any new articles.</h2>
    </div>

    <div class="card">
      <div class="card-header bg-primary py-4 text-white text-center">
        <h2>What would you like to do?</h2>
      </div>
      <div class="card-body text-center">
        <h3>
          <a class="scrape-new">Scrape for New Articles</a>
        </h3>
        <h3>
          <a class="saved-article">Show Saved Articles</a>
        </h3>
      </div>
    </div>





{{!-- <h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> --}}
