<div class="alert alert-danger text-center">
  <h2>You don't have any new articles.</h2>
</div>

<div class="card">
  <div class="card-header bg-primary py-4 text-white text-center">
    <h2>What would you like to do?</h2>
  </div>
  <div class="card-body text-center">
    <h3>
      <a class="scrape-new">Scrape for New Articles</a>
    </h3>
    <h3>
      <a class="saved-article">Show Saved Articles</a>
    </h3>
  </div>
</div>
