<div class="alert alert-danger text-center">
  <h2>You don't have any saved articles.</h2>
</div>

<div class="card">

  <div class="card-header bg-primary py-4 text-white text-center">
    <h2>Would You Like to Browse Available Articles?</h2>
  </div>

  <div class="card-body text-center">
    <h3>
      <a class="buttonLink" href="/">Browse Articles</a>
    </h3>
  </div>

</div>

<style type="text/css">
  .buttonLink {
    cursor: pointer;
  }
  .scrapeBtn {
    display: none;
  }
</style>