html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 0;
  box-shadow: 10px 5px 20px 2px lightslategrey;
  background-color:white;
}

.jumbotron .background-image {
  height: 100%;
  width: 860px;
  background-image: url("/assets/img/United-States-of-Sports.png");
  background-size: cover;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.article-container {
  padding-bottom: 25px;
}

.scrape-new, 
.saved-article {
  cursor: pointer;
}

.card .card-header .article-link {
  color: white;
  display: inline-block;
  width: 80%;
}

.card .card-header {
  background-color: #2196f3;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card .card-header .btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer > .container > p {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
  font-weight: 800;
}
